html {
  background: #018ded
    url(https://images.unsplash.com/photo-1478860409698-8707f313ee8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
  background: beige;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform: rotate(90deg);
  transform-origin: right center;
  transition: all 0.05s ease-out;
}

.hour-hand {
  background: linear-gradient(90deg, transparent 0 30%, black 30% 100%);
}

.minute-hand {
  background: linear-gradient(90deg, transparent 0 15%, black 15% 100%);
}

//night background

.clock.background-night {
  background: navy;
}

.second-hand.background-night {
  background: white;
}

.hour-hand.background-night {
  background: linear-gradient(90deg, transparent 0 30%, white 30% 100%);
}

.minute-hand.background-night {
  background: linear-gradient(90deg, transparent 0 15%, white 15% 100%);
}

html.background-night {
  background: url(https://images.unsplash.com/photo-1514897575457-c4db467cf78e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
    no-repeat center;
  background-size: cover;
}
